@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

/* Estilo para el modo oscuro */
.dark {
  background-color: #0f172a; /* slate-900 */
  color: #f8fafc; /* slate-50 */
}
